name: GitHub Script

on:
  issues:
    types: [opened]
    
jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@0.8.0
        with:
         github-token: ${{secrets.GITHUB_TOKEN}}
          script:|
           github.issues.createComment({
             issue_number:conext.issue.number,
              owner:context.repo.owner,
              repo:context.repo.repo,
              body:"You've created an issue comment"
              })
